/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

/* Global styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header.navbar-container {
  width: 100%;
  position: fixed; /* Tetapkan posisi tetap untuk memastikan tetap di atas saat menggulir */
  top: 0; /* Pastikan tetap berada di atas halaman */
  left: 0; /* Pastikan tetap berada di tepi kiri halaman */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333; /* Ganti dengan warna yang diinginkan */
  z-index: 999;
}

header.navbar-container .logo h2 {
  margin: 0;
  color: white;
  padding: 0 3rem;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  gap: 2rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: white; /* Warna teks link navigasi */
  padding: 0.5rem 1rem;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: #425c77;
  color: white;
}

/* Tambahkan margin atas pada bagian utama dan bagian lainnya untuk mengkompensasi tinggi navbar */
main {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding: 2rem 4rem;
  margin-top: 100px; /* Sesuaikan nilai ini dengan tinggi navbar */
  flex: 1;
  display: flex;
  align-items: center;
}

section {
  padding: 4rem 0;
  text-align: center;
  margin-top: 80px; /* Sesuaikan nilai ini dengan tinggi navbar */
}

section .container {
  max-width: 800px;
  margin: 0 auto;
}

#About,
#Experience,
#Contact {
  background-color: #110202;
}

#About h2,
#Experience h2,
#Contact h2 {
  font-size: 2.5rem;
  margin-bottom: 5rem;
  color: white;
}

#About p,
#Experience dt,
#Contact p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: white;
}

#Experience dt {
  list-style-type: none;
  padding: 0;
  padding-left: 20px;
  margin: 3rem -10rem;
  margin-right: 10px;
  text-align: left;
}

#Experience dt .space:before {
  content: "\00a0";
  margin-right: 10px;
}

#Experience dd {
  margin: 0 -7rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: left;
  list-style-type: disc;
}

#Experience dd::before {
  content: "\2022";
  margin-right: 10px;
}

img {
  margin-bottom: 1rem;
  width: 80%;
  height: 80%;
}

main .content {
  flex: 1;
  display: flex;
  align-items: center;
}

main .content .content-description {
  flex: 1 1;
}

main .content .content-description .title {
  font-size: 3.5rem;
  margin-block: 1rem;
}

main .content .content-description p {
  line-height: 1.7rem;
  font-size: 1.2rem;
}

main .content .content-image {
  flex: 1;
  display: flex;
}

main .content .content-image img {
  margin: auto;
  min-width: 250px;
  width: 350px;
}

aside.social-media {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #2d3e50;
  border-radius: 12px;
  padding: 1rem;
  z-index: 1000;
}

aside.social-media ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

aside.social-media li {
  list-style: none;
}

aside.social-media li a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s;
}

aside.social-media li a:hover {
  color: #89b0d9;
}
